<h1>{{#if sede}}Editar Sede{{else}}Crear Sede{{/if}}</h1>

<form action="{{#if sede}}/sede/edit/{{sede.id}}{{else}}/sede/new{{/if}}" method="POST">
  <div>
    <label>Nombre</label>
    <input type="text" name="name" value="{{sede.name}}" required>
  </div>
  <div>
    <label>Direccion</label>
    <input type="text"  name="address" value="{{sede.address}}" required>
  </div>
  <button type="submit">Guardar</button>
</form>
